

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Settings &mdash; django-shopkit v0.1 documentation</title>
    <link rel="stylesheet" href="../../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '0.1',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <link rel="top" title="django-shopkit v0.1 documentation" href="../../index.html" />
    <link rel="up" title="Category" href="index.html" />
    <link rel="next" title="Tests" href="tests.html" />
    <link rel="prev" title="Base models" href="basemodels.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="../../py-modindex.html" title="Python Module Index"
             >modules</a> |</li>
        <li class="right" >
          <a href="tests.html" title="Tests"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="basemodels.html" title="Base models"
             accesskey="P">previous</a> |</li>
        <li><a href="../../index.html">django-shopkit v0.1 documentation</a> &raquo;</li>
          <li><a href="../index.html" >Components</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">Category</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="settings">
<h1>Settings<a class="headerlink" href="#settings" title="Permalink to this headline">¶</a></h1>
<p><cite>shopkit.category.settings</cite></p>
<p>To set the values below from <cite>settings.py</cite>, prepend their names with
<cite>SHOPKIT_</cite>. For example:</p>
<div class="highlight-python"><div class="highlight"><pre><span class="n">SHOPKIT_CATEGORY_MODEL</span> <span class="o">=</span> <span class="s">&#39;myapp.MyCategory&#39;</span>
</pre></div>
</div>
<span class="target" id="module-shopkit.category.settings"></span><dl class="data">
<dt id="shopkit.category.settings.CATEGORY_MODEL">
<tt class="descclassname">shopkit.category.settings.</tt><tt class="descname">CATEGORY_MODEL</tt><a class="headerlink" href="#shopkit.category.settings.CATEGORY_MODEL" title="Permalink to this definition">¶</a></dt>
<dd><p>Reference to the model class defining a category.</p>
</dd></dl>

<dl class="data">
<dt id="shopkit.category.settings.USE_MPTT">
<tt class="descclassname">shopkit.category.settings.</tt><tt class="descname">USE_MPTT</tt><a class="headerlink" href="#shopkit.category.settings.USE_MPTT" title="Permalink to this definition">¶</a></dt>
<dd><p>Whether or not to use django-mptt. This is enabled by default when <cite>mptt</cite> is
in Django&#8217;s <cite>INSTALLED_APPS</cite> and disabled otherwise.</p>
</dd></dl>

</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h4>Previous topic</h4>
  <p class="topless"><a href="basemodels.html"
                        title="previous chapter">Base models</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="tests.html"
                        title="next chapter">Tests</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../../_sources/components/category/settings.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../../search.html" method="get">
      <input type="text" name="q" size="18" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="../../py-modindex.html" title="Python Module Index"
             >modules</a> |</li>
        <li class="right" >
          <a href="tests.html" title="Tests"
             >next</a> |</li>
        <li class="right" >
          <a href="basemodels.html" title="Base models"
             >previous</a> |</li>
        <li><a href="../../index.html">django-shopkit v0.1 documentation</a> &raquo;</li>
          <li><a href="../index.html" >Components</a> &raquo;</li>
          <li><a href="index.html" >Category</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright 2010, Mathijs de Bruin.
      Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.0.7.
    </div>
  </body>
</html>