

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Settings &mdash; django-shopkit v0.1 documentation</title>
    <link rel="stylesheet" href="../../../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../../../_static/pygments.css" type="text/css" />
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../../',
        VERSION:     '0.1',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../../_static/doctools.js"></script>
    <link rel="top" title="django-shopkit v0.1 documentation" href="../../../index.html" />
    <link rel="up" title="Simple" href="index.html" />
    <link rel="next" title="Utils" href="utils.html" />
    <link rel="prev" title="Simple" href="index.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="../../../py-modindex.html" title="Python Module Index"
             >modules</a> |</li>
        <li class="right" >
          <a href="utils.html" title="Utils"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="index.html" title="Simple"
             accesskey="P">previous</a> |</li>
        <li><a href="../../../index.html">django-shopkit v0.1 documentation</a> &raquo;</li>
          <li><a href="../../index.html" >Components</a> &raquo;</li>
          <li><a href="../index.html" >Currency</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">Simple</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="module-shopkit.currency.simple.settings">
<span id="settings"></span><h1>Settings<a class="headerlink" href="#module-shopkit.currency.simple.settings" title="Permalink to this headline">¶</a></h1>
<dl class="data">
<dt id="shopkit.currency.simple.settings.CURRENCY_MAX_DIGITS">
<tt class="descclassname">shopkit.currency.simple.settings.</tt><tt class="descname">CURRENCY_MAX_DIGITS</tt><a class="headerlink" href="#shopkit.currency.simple.settings.CURRENCY_MAX_DIGITS" title="Permalink to this definition">¶</a></dt>
<dd><p>Maximum number of decimals for
<a class="reference internal" href="fields.html#shopkit.currency.simple.fields.PriceField" title="shopkit.currency.simple.fields.PriceField"><tt class="xref py py-class docutils literal"><span class="pre">PriceField</span></tt></a>.
Defaults to: 6.</p>
</dd></dl>

<dl class="data">
<dt id="shopkit.currency.simple.settings.CURRENCY_DECIMALS">
<tt class="descclassname">shopkit.currency.simple.settings.</tt><tt class="descname">CURRENCY_DECIMALS</tt><a class="headerlink" href="#shopkit.currency.simple.settings.CURRENCY_DECIMALS" title="Permalink to this definition">¶</a></dt>
<dd><p>Number of decimals for
<a class="reference internal" href="fields.html#shopkit.currency.simple.fields.PriceField" title="shopkit.currency.simple.fields.PriceField"><tt class="xref py py-class docutils literal"><span class="pre">PriceField</span></tt></a>.
Defaults to: 2.</p>
</dd></dl>

<dl class="data">
<dt id="shopkit.currency.simple.settings.CURRENCY_FORMATTING">
<tt class="descclassname">shopkit.currency.simple.settings.</tt><tt class="descname">CURRENCY_FORMATTING</tt><a class="headerlink" href="#shopkit.currency.simple.settings.CURRENCY_FORMATTING" title="Permalink to this definition">¶</a></dt>
<dd><p>Formatting string for displaying monetary units.</p>
<p>For example, euro&#8217;s will be nicely rendered with:</p>
<div class="highlight-python"><div class="highlight"><pre><span class="n">SHOPKIT_CURRENCY_FORMATTING</span> <span class="o">=</span> <span class="s">u&quot;</span><span class="se">\u20AC</span><span class="s"> </span><span class="si">%.2f</span><span class="s">&quot;</span>
</pre></div>
</div>
</dd></dl>

</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h4>Previous topic</h4>
  <p class="topless"><a href="index.html"
                        title="previous chapter">Simple</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="utils.html"
                        title="next chapter">Utils</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../../../_sources/components/currency/simple/settings.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../../../search.html" method="get">
      <input type="text" name="q" size="18" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="../../../py-modindex.html" title="Python Module Index"
             >modules</a> |</li>
        <li class="right" >
          <a href="utils.html" title="Utils"
             >next</a> |</li>
        <li class="right" >
          <a href="index.html" title="Simple"
             >previous</a> |</li>
        <li><a href="../../../index.html">django-shopkit v0.1 documentation</a> &raquo;</li>
          <li><a href="../../index.html" >Components</a> &raquo;</li>
          <li><a href="../index.html" >Currency</a> &raquo;</li>
          <li><a href="index.html" >Simple</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright 2010, Mathijs de Bruin.
      Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.0.7.
    </div>
  </body>
</html>