

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Listeners &mdash; django-shopkit v0.1 documentation</title>
    <link rel="stylesheet" href="../../../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../../../_static/pygments.css" type="text/css" />
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../../',
        VERSION:     '0.1',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../../_static/doctools.js"></script>
    <link rel="top" title="django-shopkit v0.1 documentation" href="../../../index.html" />
    <link rel="up" title="Utils" href="index.html" />
    <link rel="next" title="Context processors" href="../context_processors.html" />
    <link rel="prev" title="Admin" href="admin.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="../../../py-modindex.html" title="Python Module Index"
             >modules</a> |</li>
        <li class="right" >
          <a href="../context_processors.html" title="Context processors"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="admin.html" title="Admin"
             accesskey="P">previous</a> |</li>
        <li><a href="../../../index.html">django-shopkit v0.1 documentation</a> &raquo;</li>
          <li><a href="../../index.html" >Components</a> &raquo;</li>
          <li><a href="../index.html" >Core</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">Utils</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="listeners">
<h1>Listeners<a class="headerlink" href="#listeners" title="Permalink to this headline">¶</a></h1>
<p><cite>shopkit.core.utils.listeners</cite></p>
<span class="target" id="module-shopkit.core.utils.listeners"></span><dl class="class">
<dt id="shopkit.core.utils.listeners.Listener">
<em class="property">class </em><tt class="descclassname">shopkit.core.utils.listeners.</tt><tt class="descname">Listener</tt><big>(</big><em>**kwargs</em><big>)</big><a class="headerlink" href="#shopkit.core.utils.listeners.Listener" title="Permalink to this definition">¶</a></dt>
<dd><p>Bases: <tt class="xref py py-class docutils literal"><span class="pre">object</span></tt></p>
<p>Class-based listeners, based on Django&#8217;s class-based generic views. Yay!</p>
<p>Usage:</p>
<div class="highlight-python"><div class="highlight"><pre><span class="k">class</span> <span class="nc">MySillyListener</span><span class="p">(</span><span class="n">Listener</span><span class="p">):</span>
    <span class="k">def</span> <span class="nf">dispatch</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">sender</span><span class="p">,</span> <span class="o">**</span><span class="n">kwargs</span><span class="p">):</span>
        <span class="c"># DO SOMETHING</span>
        <span class="k">pass</span>

<span class="n">funkysignal</span><span class="o">.</span><span class="n">connect</span><span class="p">(</span><span class="n">MySillyListener</span><span class="o">.</span><span class="n">as_view</span><span class="p">(),</span> <span class="n">weak</span><span class="o">=</span><span class="bp">False</span><span class="p">)</span>
</pre></div>
</div>
<dl class="classmethod">
<dt id="shopkit.core.utils.listeners.Listener.as_listener">
<em class="property">classmethod </em><tt class="descname">as_listener</tt><big>(</big><em>**initkwargs</em><big>)</big><a class="headerlink" href="#shopkit.core.utils.listeners.Listener.as_listener" title="Permalink to this definition">¶</a></dt>
<dd><p>Main entry point for a sender-listener process.</p>
</dd></dl>

</dd></dl>

</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h4>Previous topic</h4>
  <p class="topless"><a href="admin.html"
                        title="previous chapter">Admin</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="../context_processors.html"
                        title="next chapter">Context processors</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../../../_sources/components/core/utils/listeners.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../../../search.html" method="get">
      <input type="text" name="q" size="18" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="../../../py-modindex.html" title="Python Module Index"
             >modules</a> |</li>
        <li class="right" >
          <a href="../context_processors.html" title="Context processors"
             >next</a> |</li>
        <li class="right" >
          <a href="admin.html" title="Admin"
             >previous</a> |</li>
        <li><a href="../../../index.html">django-shopkit v0.1 documentation</a> &raquo;</li>
          <li><a href="../../index.html" >Components</a> &raquo;</li>
          <li><a href="../index.html" >Core</a> &raquo;</li>
          <li><a href="index.html" >Utils</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright 2010, Mathijs de Bruin.
      Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.0.7.
    </div>
  </body>
</html>